<h1>All tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to "#{tag.name} (#{tag.articles.size})", tag_path(tag) %>
      <%= link_to "Delete", tag_path(tag), method: :delete, data: { confirm: "Really delete this tag?"} %>
    </li>
  <% end %>
</ul>
